@media only print {
  .print-not-show {
    display: none;
  }
  .custom-hr {
    display: none;
  }
  .page-heading:first-child {
    margin-top: 10px;
    text-align: center;
  }
}

/* 
  /* table th {
    text-align: right;
  } 

  .page-container {
    padding: 0 !important;
    margin: 0 !important;
  }
}

/* .customer-ledger-details {
  border: 1px solid gray !important;
} 

*/
.customer-ledger-details tbody tr,
.customer-ledger-details tbody tr td,
.customer-ledger-details tbody tr th {
  border-color: inherit;
  border-style: none !important;
  border-width: 0 !important;
}
